@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Dosis:700);

* 				{	margin:				0;
					padding:			0;
				}
img, object,
embed, video 	{	max-width: 			100%;
							}
/* IE 6 unterstützt keine maximale Breite, verwenden Sie daher eine Standardbreite von 100% */
.ie6 img 		{	width:				100%;
				}
main, footer,
header			{ 	display: 			block;
					margin:				0;
					padding:			0;
				}
body 		{ 	background: 		#fff;
			}