@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Dosis:700);

* 				{	margin:				0;
					padding:			0;
				}
img, object,
embed, video 	{	max-width: 			100%;
							}
/* IE 6 unterstützt keine maximale Breite, verwenden Sie daher eine Standardbreite von 100% */
.ie6 img 		{	width:				100%;
				}
main, footer,
header			{ 	display: 			block;
					margin:				0;
					padding:			0;
				}
body 			{ 	background: 		#fff;
				}
a:link, 
a:active, 
a:focus, 
a:visited 		{	color:				#09f;
					text-decoration:	none;
				}
a:link:hover, 
a:active:hover, 
a:focus:hover, 
a:visited:hover	{	color:				#f00;
				}
#map 			{	height: 			100%;
					width: 				100%;
					left: 				0;
					position: 			absolute;
					top: 				0;
					z-index:			-1;				
				}