@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Dosis:700);

* 				{	margin:				0;
					padding:			0;
				}
img, object,
embed, video 	{	max-width: 			100%;
							}
/* IE 6 unterstützt keine maximale Breite, verwenden Sie daher eine Standardbreite von 100% */
.ie6 img 		{	width:				100%;
				}
main, footer,
header			{ 	display: 			block;
					margin:				0;
					padding:			0;
				}
body 			{ 	background: 		#fff;
				}
a:link, 
a:active, 
a:focus, 
a:visited 		{	color:				#09f;
					text-decoration:	none;
				}
a:link:hover,
a:active:hover,
a:focus:hover,
a:visited:hover	{	color:				#f00;
				}
#map 			{	height: 			100%;
					width: 				100%;
					left: 				0;
					position: 			absolute;
					top: 				0;
					z-index:			-1;
				}
li{
    list-style: none;
}
form            {
    background-color: #FF6600;
    font-size: 40px;
    margin: 0px 50px 50px 50px;
                }


form.formular{
    background-color: #55aa33;
    border: 20px;
}

article{
    background-color: #11695e;
}
label {background-color: #55aa33;
    width:              40%;
    display:            block;
    float:              left; clear:both;
    font-size: smaller;
}
input{display:block;float:left;
    font-size: 30px;background-color: darkred;
}

fieldset{
    background-color: #FF6600;
    margin: 5% 2%;
    padding: 5% 2%;
}
fieldset.kunde{
    width:40%;
    float: left;
    clear:both;display:block;

}
fieldset.auto{
    border:10px;
    width:40%;
    float: left;
}
fieldset.weiter{
    width:40%;
    float: left;
    clear:both;display:block;
}
fieldset legend{font-size: 1.5em;
    padding-top:10%;
}

form li ul a{
    color:white;font-size: smaller;
}
input[type="checkbox"]{

    width:20px;
    height:20px;
 }