@charset "utf-8";

/***************************************************/
/*CSS for Viewports with more than 768 pixels width*/
/***************************************************/

body 			{ 	background: 			#fff no-repeat center; 
					background-image: 		url(../img/stripes.png), url(../img/bmw_ohne.jpg);
					background-size:		cover;
					background-attachment: 	fixed;
					z-index:				0;
				}



/*<><><><> HEADER-STYLES <><><><>*/
header 		{	background: 		#none;
	padding:			0;
}
#LOGO		{ 	position:				relative;
	top: 					0;
	left: 					0;
	margin:					10px 10px 10px 10px;
	background:				url(../img/automotify-autoglas-logo.png) no-repeat top left;
	background-size: 		contain;
	width: 					400px;
	height:					97px;
	cursor: 				pointer;
	transition: 			all 1.3s ease;
	-webkit-transition:		all 1.3s ease;
	-moz-transition: 		all 1.3s ease;
	-o-transition: 			all 1.3s ease;
	-ms-transition: 		all 1.3s ease;
}

header:hover
#LOGO		{ 	position:				relative;
	top: 					0;
	left: 					0;
	margin:					10px;
	background: 			url(../img/automotify-autoglas-logo.png) no-repeat top left;
	background-size: 		contain;
	width: 					400px;
	height:					97px;
	cursor: 				pointer;
	transition: 			all 1.3s ease;
	-webkit-transition:		all 1.3s ease;
	-moz-transition: 		all 1.3s ease;
	-o-transition: 			all 1.3s ease;
	-ms-transition: 		all 1.3s ease;
}
header:hover
#LOGO:hover	{	position:				relative;
	top: 					0;
	left: 					0;
	margin:					10px;
	background: 			#09f url(../img/automotify-autoglas-logo1.png) no-repeat top left;
	background-size: 		contain;
	width: 					400px;
	height:					97px;
	box-shadow:				0 0 20px #000;
	border-radius:			25px;
	transition: 			all 1.3s ease;
	-webkit-transition:		all 1.3s ease;
	-moz-transition: 		all 1.3s ease;
	-o-transition: 			all 1.3s ease;
	-ms-transition: 		all 1.3s ease;
}
#sitenav div	{	display:			block;
	background:			#09f url(../img/icon_menu.svg) no-repeat center;
	background-size:	50% 50%;
	height:				1.5rem;
	width:				1.5rem;
	padding:			15px 20px;
}
#sitenav ul	{ 	list-style-type: 	none;
	margin: 			0;
	padding:			0;
	display:			table;
	width:				100%;
}
#sitenav li { 	display:			table-cell;
	background: 		#09f;
	background: 		rgba(0,153,255,0.55);
	padding:			10px 0;
	margin: 			0;
	cursor: 			pointer;
	width:				33%;
	text-align: 		center;
	vertical-align: 	middle;
}
#sitenav li:last-of-type {
	width:				34%;
}
#sitenav
li:hover	{	background: 		rgba(255,0,0,1.00);
	transition: 		all 0.4s ease;
	-webkit-transition:	all 0.4s ease;
	-moz-transition: 	all 0.4s ease;
	-o-transition: 		all 0.4s ease;
	-ms-transition: 	all 0.4s ease;
}
#sitenav a 	{	font: 				bolder 20px/35px 'Dosis';
	color:				#fff;
	text-decoration:	none;
	text-transform: 	uppercase;
	transition: 		font-size 0.5s ease;
	-webkit-transition:	font-size 0.5s ease;
	-moz-transition: 	font-size 0.5s ease;
	-o-transition: 		font-size 0.5s ease;
	-ms-transition: 	font-size 0.5s ease;
}
#sitenav
li:hover a 	{ 	color: 				#fff;
	font-size:			25px;
	transition: 		font-size 0.5s ease;
	-webkit-transition:	font-size 0.5s ease;
	-moz-transition: 	font-size 0.5s ease;
	-o-transition: 		font-size 0.5s ease;
	-ms-transition: 	font-size 0.5s ease;
}
/*<><><><> MAIN-STYLES <><><><>*/
main 		{ 	padding:			0.5rem 1.0rem 1.0rem;
			}
main article	{	font: 				20px/35px Verdana;
				color:				#000;
				margin-bottom:		20px;
				background:			rgba(255,255,255,0.5);
				border-radius:		10px;
				padding:			5px 20px
			}
main article h1
			{	font: 				bolder 1.5rem/2.0rem 'Dosis';
				color:				#fff;
				text-shadow: 		0 0 0.3rem #000;
			}
main article p
			{	margin:				15px 0;
				font:				bold 1rem/1.5rem Helvetica;
			}
main article ul 	{	margin:				1.7rem;
			}
main article ul li	{	font:					bold 1rem/1.5rem Helvetica;
				-webkit-font-smoothing: antialiased;
				text-shadow: 			1px 1px 1px rgba(0,0,0,0.004);
				color:					#000;
			}


/*<><><><> FOOTER-STYLES <><><><>*/
footer		{	background:			#09f;
	position:			fixed;
	bottom:				0;
	width:				100%;
	text-align: 		center;
	opacity: 			0.75;
	filter: 			alpha(opacity=75);
	transition: 		all 0.4s ease;
	-webkit-transition:	all 0.4s ease;
	-moz-transition: 	all 0.4s ease;
	-o-transition: 		all 0.4s ease;
	-ms-transition: 	all 0.4s ease;
}
footer:hover h1 {	background:			#f00;
	font:				40px/55px 'Dosis';
	letter-spacing: 	10px;
	opacity: 			1.00;
	filter: 			alpha(opacity=100);
	transition: 		all 0.7s ease;
	-webkit-transition:	all 0.7s ease;
	-moz-transition: 	all 0.7s ease;
	-o-transition: 		all 0.7s ease;
	-ms-transition: 	all 0.7s ease;
}
footer h1	{	font:				20px/35px 'Dosis';
	letter-spacing: 	10px;
	color:				#fff;
	margin:				0;
	transition: 		all 0.4s ease;
	-webkit-transition:	all 0.4s ease;
	-moz-transition: 	all 0.4s ease;
	-o-transition: 		all 0.4s ease;
	-ms-transition: 	all 0.4s ease;
}